:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  --bg: #f6f6f6;
  --fg: #0f0f0f;
  --border: #ddd;
  --input-bg: #ffffff;

  color: var(--fg);
  background-color: var(--bg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  color: var(--fg);
  background-color: var(--bg);
}

@media (prefers-color-scheme: dark) {
  :root:not([data-theme="light"]) {
    --bg: #2f2f2f;
    --fg: #f6f6f6;
    --border: #444;
    --input-bg: #0f0f0f98;
  }
}

:root[data-theme="dark"] {
  --bg: #2f2f2f;
  --fg: #f6f6f6;
  --border: #444;
  --input-bg: #0f0f0f98;
}

input,
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: var(--fg);
  background-color: var(--input-bg);
  transition: border-color 0.25s, background-color 0.25s, color 0.25s;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

button {
  cursor: pointer;
}

button:hover {
  border-color: #396cd8;
}

button:active {
  border-color: #396cd8;
  background-color: var(--input-bg);
}

input,
button {
  outline: none;
}
